{% extends "plotly_integration/base.html" %}
{% load plotly_dash %}

{% block title %}DASGIP Data Import{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h1 class="mb-4">{{ title }}</h1>
            <p class="lead">{{ description }}</p>
            <hr>
        </div>
    </div>
    
    <div class="row">
        <div class="col-12">
            {% plotly_app name="dasgip_import" %}
        </div>
    </div>
</div>
{% endblock %}

{% block extra_css %}
<style>
    .dash-table-container {
        overflow-x: auto;
    }
    
    .dash-spreadsheet-container {
        max-height: 600px;
        overflow: auto;
    }
    
    input[type="file"] {
        display: none;
    }
</style>
{% endblock %}